<nav class="blue darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Stream</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#if isIndex }}
                <li class='active'><a href="/">Главная</a></li>
            {{else}}
                <li><a href="/">Главная</a></li>
            {{/if}}

            <!-- {{#if isList }}
                <li class='active'><a href="list">Список</a></li>
            {{else}}
                <li><a href="list">Список</a></li>
            {{/if}}
            <li><a href="collapsible.html">JavaScript</a></li> --> 
        </ul>
    </div>
</nav>
